/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    background-color: ghostwhite;
    font-family: Roboto ;
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-around;
    align-items: center;
}


 header {

    background-color: #52bb77;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:0px 0px 15px #52bb77;
    width: 90%;
    height: 100px;
    border-radius: 5px 5px;
}

.content {

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    /* align-items: center; */
}

.h1{

    background-color: #52bb77;
    border-radius: 5px;
    font-size: 50px;
    text-align: center;
    box-shadow: 0px 0px 15px #52bb77;
}

.temp {
    /* background-color: #52bb77; */
    border: 1px solid #52bb77 ;
    box-shadow: 0px 0px 15px #52bb77;
    max-width: 1000px;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    border-radius: 15px;
    font-size: 30px;
    
}

.temp__data {
    

    box-shadow: 0px 0px 15px #52bb77;
    border: 1px solid #52bb77 ;
    border-radius: 50%;
    background-color: #52bb77;
    
    width: 250px;
    height: 250px;


    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin: 20px;
    text-align: center;
}